<div id="files-s3-credentials-block">
    <details data-id="s3-credentials">
        <summary class="heading">
            <span class="cursor-pointer">
                <span class="caret"><i class="fas fa-caret-right"></i></span>
                [`S3 credentials`]
            </span>
        </summary>

        <div class="box custom-py-8 custom-px-12" id="files-s3-credentials-content">
            {if $endpoint_url}
                <div class="field">
                    <div class="name small">[`Endpoint`]</div>
                    <div class="value small break-all">
                        <code class="s3-endpoint">{$endpoint_url|escape}</code>
                    </div>
                </div>
                <div class="field">
                    <div class="name small">[`Region`]</div>
                    <div class="value small"><code>{$region|escape}</code></div>
                </div>
                <div class="field">
                    <div class="name small">[`Access key`]</div>
                    <div class="value small break-all">
                        <code class="s3-access-key">{$access_key|escape}</code>
                    </div>
                </div>
                <div class="field">
                    <div class="name small">[`Secret key`]</div>
                    <div class="value small break-all">
                        <code class="s3-secret-key masked">********************************</code>
                        <code class="s3-secret-key revealed" style="display:none;">{$secret_key|escape}</code>
                        <a href="javascript:void(0);" class="small s3-toggle-secret custom-ml-4">[`Show`]</a>
                    </div>
                </div>
                <div class="custom-mt-8">
                    <button type="button" class="button light-gray small s3-regenerate-secret">[`Regenerate secret`]</button>
                </div>
            {else}
                <p class="hint small custom-m-0">[`S3 settlement URL is not configured. Ask your administrator to configure the S3 plugin.`]</p>
            {/if}
        </div>
    </details>
</div>

<script>
(function($) {
    var $block = $('#files-s3-credentials-block');
    if (!$block.length) {
        return;
    }

    $block.on('click', '.s3-toggle-secret', function(e) {
        e.preventDefault();
        var $link = $(this);
        var $masked = $block.find('.s3-secret-key.masked');
        var $revealed = $block.find('.s3-secret-key.revealed');
        if ($revealed.is(':visible')) {
            $revealed.hide();
            $masked.show();
            $link.text('[`Show`]');
        } else {
            $masked.hide();
            $revealed.show();
            $link.text('[`Hide`]');
        }
    });

    $block.on('click', '.s3-regenerate-secret', function() {
        if (!confirm('[`Regenerate secret key? Existing S3 clients will stop working until you update their configuration.`]')) {
            return;
        }
        var $btn = $(this);
        $btn.prop('disabled', true);
        $.post('{$regenerate_url|escape:javascript}', function(r) {
            if (r && r.status === 'ok' && r.data && r.data.secret_key) {
                $block.find('.s3-secret-key.revealed').text(r.data.secret_key);
                $block.find('.s3-secret-key.masked').text('*'.repeat(40));
            }
        }, 'json').always(function() {
            $btn.prop('disabled', false);
        });
    });
})(jQuery);
</script>
